<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Expense Tracker</h1>
        <nav>
            <ul>
                <li><button onclick="location.href='/login'">Login</button></li>
                <li><button onclick="location.href='/register'">Register</button></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <h2>Track Your Expenses Easily</h2>
        <h3><p>Manage your expenses efficiently and stay within your budget.</p>
    </div>

    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
    
</body>
</html>
