<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>
    <div class="form-container">
        <form action="/api/register" method="POST">
            <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required></div>
            <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required></div>
            <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required></div>
            <input type="submit" value="Register">
        </form>
    </div>
    <footer>
        <p>&copy; 2024 Expense Tracker. All rights reserved.</p>
    </footer>
</html>
